.column {
/*    padding-bottom: 100px;*/
}
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 100px;
  }
.my-widget-header {
    background-color: #31b0d5;
    border: 1px solid #269abc;
    color: #fff;
    font-weight: bold;
    /*background: linear-gradient(to bottom, rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%);*/
}
.notice {
    color: gray;
    font-style: italic;
    margin-bottom: 10px;
}
.ui-icon {
    cursor: pointer;
}

.logFilters {
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.logFilters .caption {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    padding: 10px 20px;
}

.logFilters .body .section .caption {
    font-size: 14px;
    color: #333;
    border-top: 1px solid #eee;
    padding: 10px 0 3px 20px;
}

.logFilters .body .section .body {
    color: #333;
    padding: 0 0 10px 20px;
}

.logFilters .body .section .body input,select {
    margin-right: 10px;
}

.logFilters .footer {
    padding: 10px 20px;
    border-top: 1px solid #eee;
}

.logFilters .footer input {
    margin-right: 10px;
}


.logReport .row {
    margin: 0;
}

.logReport .row .caption {
    font-weight: bold;
}

.logReport .row .caption span {
    font-weight: normal;
    margin-right:20px;
}

.ui-widget-header {
    background-color: #31b0d5 !important;
    border: 1px solid #269abc !important;
    color: #fff !important;
    font-weight: bold !important;
    background: linear-gradient(to bottom, rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%) !important;
}

td.changed {
    background-color: #ffd0d0;
}

td.normal {
}

.message-success {
    color: #007F0E;
    text-align: center;
    margin: 0 0 5px;
    font-weight: bold;
    background-color:#d0ffd0;
    border:1px solid #88ff88;
}
.message-error {
    color: #E43333;
    text-align: center;
    margin: 0 0 5px;
    font-weight: bold;
    background-color:#ffd0d0;
    border:1px solid #ff8888;
}

.ui-widget-overlay { z-index: 1001 !important ;}

.fadeout {
    position: absolute;
    left: 0;
    bottom: 0em;
    width:100%;
    height: 6em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.anchor {
    position: relative;
}

div.cookieText {
    position: fixed;
    background-color: grey;
    width:100%;
    bottom:0;
}

.uploadWarn {
    background-color: #ffffb0;
}
.uploadErr {
    color: #E43333;
    background-color: #ffd0d0;
}

#sendmail {
    cursor: pointer;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

nav .ui-progressbar {
    height:12px;
}
nav .progress {
    margin-bottom: 0;
}
li.progress {
    width: 200px;
    height: 100%;
}

.visited {
    border: 3px solid lightgreen;
}

.no-wrap {
    white-space: nowrap;
}

.user-disabled {
    color: lightgray;
}
