/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    -webkit-font-smoothing: antialiased;
}

a:focus, a:active {outline:none !important;}
input, textarea, button {border-radius: 0;}

.bx-unstyled .bx-wrapper {
    margin:0;
    padding:0;
}
.bx-unstyled .bx-viewport {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    left: 0 !important;
    background: transparent !important;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.scheme-editor-window {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.scheme-editor-window img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.scheme-editor-pin {
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #24a0fe;
    font-weight: 500;
    font-size: 26px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    top: 0;
    left: 0;
}
.scheme-editor-buttons {
    width: 1000px;
    margin: 0 auto;
}
.scheme-editor-fields {
    width: 1000px;
    margin: 0 auto;
}
.scheme-add-pin-btn, .scheme-submit {
    background: #24a0fe;
    text-decoration: none;
    font-weight: bold;
    display: table;
    margin: 20px auto;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 4px;
    padding: 12px 17px;
    line-height: 1;
}
.scheme-add-pin-btn:active, .scheme-submit:active {
    box-shadow: inset 0px 0px 8px rgba(0,0,0,.3);
}
.scheme-editor-field {
    display: table;
    width: 100%;
}
.scheme-editor-field > div {
    display: table-cell;
    vertical-align: top;
    padding: 10px 20px;
    border-bottom: 1px solid #d3d9dc;
}
.scheme-editor-field:last-child > div {
    border: 0;
}
.scheme-editor-field > div:first-child {
    padding-left: 0;
}
.scheme-editor-field > div:last-child {
    padding-right: 0;
    text-align: right;
    width: 200px;
}
.scheme-editor-field > div:nth-child(1) {
    width: 180px;
}
.scheme-editor-field input {
    border-radius: 4px;
    border: 1px solid #24A0FE;
    padding: 2px 4px;
    text-align: center;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scheme-editor-field select {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #24A0FE;
    height: 30px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scheme-editor-number {
    width: 50px;
}
.scheme-editor-field label {
    display: block;
}
.scheme-editor-deletepin {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    background: red;
    padding: 9px 10px;
    white-space: nowrap;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    height: 30px;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.scheme-editor-deletepin:active {
    box-shadow: inset 0px 0px 8px rgba(0,0,0,.3);
}
.scheme-editor-field-clone {
    display: none;
}
.scheme-editor-xcoord,
.scheme-editor-ycoord {
    display: none;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}