/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
@font-face {
  font-family: hnlight;
  font-weight: normal;
      src: url("../fonts/HelveticaNeueCyr-Light.otf");
  src: url("../fonts/HelveticaNeueCyr-Light.otf") format("opentype");
}
@font-face {
   font-family: hnblack;
   font-weight: normal;
       src: url("../fonts/HelveticaNeueCyr-Black.otf");
   src: url("../fonts/HelveticaNeueCyr-Black.otf") format("opentype");
}
@font-face {
   font-family: hnmed;
   font-weight: normal;
       src: url("../fonts/HelveticaNeueCyr-Medium.otf");
   src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
}
@font-face {
   font-family: hnbold;
   font-weight: normal;
       src: url("../fonts/HelveticaNeueCyr-Bold.otf");
   src: url("../fonts/HelveticaNeueCyr-Bold.otf") format("opentype");
}
@font-face {
   font-family: hnroman;
   font-weight: normal;
       src: url("../fonts/HelveticaNeueCyr-Roman.otf");
   src: url("../fonts/HelveticaNeueCyr-Roman.otf") format("opentype");
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    -webkit-font-smoothing: antialiased;
}

a:focus, a:active {outline:none !important;}
input, textarea, button {border-radius: 0;}

.bx-unstyled .bx-wrapper {
    margin:0;
    padding:0;
}
.bx-unstyled .bx-viewport {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    left: 0 !important;
    background: transparent !important;
}

.wrap {
    width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    /*background: #eaf1f8;*/
    background: url(../img/bg.jpg) center repeat;
}
header {
    position: relative;
    z-index: 2;
}
header:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 7px;
    opacity: .6;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.37+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.header-top {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #000;
    height: 39px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,414042+100 */
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(65,64,66,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(65,64,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(65,64,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#414042',GradientType=0 ); /* IE6-9 */
}
.header-top-left {
    float: left;
}
.header-top-right {
    float: right;
}
.header-top-contacts, .header-top-contacts li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}
.header-top-contacts li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.header-top-contacts a {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 13px;
    color: #bbbdbf;
    padding-left: 25px;
    text-decoration: none;
    line-height: 39px;
}
.header-top-contacts a:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 20px;
    background-image: url(../img/sprite.png);
    left: 0;
    top: 50%;
    margin-top: -10px;
}
a.header-mail {
    text-decoration: underline;
}
.header-main {
    border-top: 1px solid #f7fafc;
    height: 103px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6eef6+0,ffffff+100 */
    background: rgb(230,238,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(230,238,246,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(230,238,246,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(230,238,246,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eef6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.work-times,
.work-times {
    margin: 0;
    padding: 0;
    list-style: none;
}
.work-times {
    position: relative;
    font-weight: 400;
    font-size: 11px;
    color: #bbbdbf;
    line-height: 1;
    padding-left: 24px !important;
}
.work-times:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background: url(../img/sprite.png) 0 -72px;
    left: 0;
    top: 50%;
    margin-top: -8px;
}
.work-times li {
    display: inline-block;
    vertical-align: middle;
    line-height: 39px;
}
.logo {
    display: inline-block;
    line-height: 103px;
}
.header-main {
    font-size: 0;
}
.header-main-left {
    float: left;
}
.header-main-right {
    float: right;
    text-align: right;
    white-space: nowrap;
}
.header-main-social,
.header-main-nav {
    line-height: 103px;
}
.header-main-social, .header-main-social li,
.header-main-nav, .header-main-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.header-main-social {
    margin-right: 30px;
}
.header-main-social a {
    display: block;
    width: 30px;
    height: 30px;
    background: #000;
    margin-right: 10px;
}
.header-main-social img {
    display: block;
    height: 30px;
    background: #000;
    margin-right: 10px;
    cursor: pointer;
}
.header-main-nav li a {
    display: block;
    font-family: hnbold;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    line-height: 44px;
    height: 44px;
    padding: 0 20px;
    border-left: 1px solid #2179b2;
    border-right: 1px solid #076099;
    text-decoration: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0777bc+0,0869a7+100 */
    background: rgb(7,119,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,119,188,1) 0%, rgba(8,105,167,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0777bc', endColorstr='#0869a7',GradientType=0 ); /* IE6-9 */
}
.header-main-nav li a:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2085c3+0,2178b0+100 */
    background: rgb(32,133,195); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,133,195,1) 0%, rgba(33,120,176,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2085c3', endColorstr='#2178b0',GradientType=0 ); /* IE6-9 */
}
.header-main-nav li a:active {
    -webkit-box-shadow: inset 0px 0px 8px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 8px 2px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 8px 2px rgba(50, 50, 50, 0.75);
}
.header-main-nav li:first-child a {
    border-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.header-main-nav li:last-child a {
    border-right: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.content {
    position: relative;
}
.content:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    height: 316px;
    background: url(../img/bg-dots1.jpg) left top repeat;
}
.content:after {
    position: absolute;
    content:'';
    bottom: 0;
    right: 0;
    left: 0;
    height: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dadfe3+0,dadfe3+100&0+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(218,223,227,0) 0%, rgba(218,223,227,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(218,223,227,0) 0%,rgba(218,223,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(218,223,227,0) 0%,rgba(218,223,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dadfe3', endColorstr='#dadfe3',GradientType=0 ); /* IE6-9 */

}
.content .wrap {
    position: relative;
    z-index: 1;
    padding: 20px 0 0;
}
.sidebar-filters {
    width: 250px;
    float: left;
}
.sidebar-filters-form {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}
.sidebar-filters-heading {
    font-family: hnbold;
    border-bottom: 3px solid #026589 !important;
    background: #0777bc;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    line-height: 15px;
    padding: 20px 20px;
}
.sidebar-filters-select {
    background: #fff;
    display: table;
    width: 100%;
}
.sidebar-filters-select > div {
    display: table-cell;
    /*overflow: hidden;*/
    white-space: nowrap;
}
.sidebar-filters-select > div:first-child {
    padding-right: 10px;
}
.sidebar-filters-select label {
    font-family: hnlight;
    display: table-cell;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #0777bc;
}
.sidebar-filters-select select {
    display: block;
    /*border: 0;*/
    /*background: transparent;*/
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    /*padding-right: 15px;*/
/*    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-filters-select select,
.sidebar-filters-select select:focus,
.sidebar-filters-select select:active {
    outline: none !important;
}
/*.sidebar-filters-select select:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}*/
/*.sidebar-filters-select select:focus {
    outline: 0;
    border: 0;
}*/
.sidebar-arrow {
    /*background: #fff url(../img/sidebar-arrow.png) right center no-repeat;*/
    background: #fff;
    padding: 15px 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-filters-accordion-head label {
    font-family: hnlight;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #0777bc;
}
.active > .sidebar-filters-accordion-head label {
    color: #000;
}
.sidebar-filters-form > div {
    border-bottom: 1px solid #dcdedf;
}
.sidebar-filters-form > div:last-child {
    border-bottom: 0;
}
.sidebar-filters-accordion-body {
    display: none;
    background: #f6f7f7;
    padding: 20px;
    border-top: 3px solid #f1f2f3;
}
.sidebar-filters-accordion.active .sidebar-filters-accordion-body {
    display: block;
}
.sidebar-filters-accordion.active .sidebar-arrow {
    /*background-image: url(../img/sidebar-arrow-active.png);*/
    background: #fff url(../img/sidebar-arrow.png) right center no-repeat; */
}
.sidebar-filter-price input,
.sidebar-filter-capacity input {
    display: block;
    border: 1px solid #bbbdbf;
    width: 100%;
    padding: 8px 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000;
    line-height: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-filter-price label,
.sidebar-filter-capacity label {
    display: block;
    font-weight: 300;
    font-size: 12px;
    color: #707070;
    line-height: 1;
    padding: 0 0 5px 0;
}
.sidebar-filter-price > div,
.sidebar-filter-capacity > div {
    float: left;
    width: 47%;
}
.sidebar-filter-price > div:first-child,
.sidebar-filter-capacity > div:first-child {
    margin-right: 3%;
}
.sidebar-filter-price > div:last-child,
.sidebar-filter-capacity > div:last-child {
    margin-left: 3%;
}
#sidebar-price-slider,
#sidebar-year-slider,
#sidebar-capacity-slider {
    margin-bottom: 15px;
    height: 3px;
}
.jq-slider.ui-widget-content {
    background: #bbbdbf;
}
.jq-slider .ui-widget-header {
    background: #16bdce;
}
.jq-slider .ui-slider-handle {
    background: #0777bc;
    border-radius: 0 !important;
    border: 0 !important;
    outline: 0 !important;
    width: 10px;
    height: 17px;
    top: 50%;
    margin-top: -9px;
}
.sidebar-smartfilter-checkbox {
    display: none;
}
.sidebar-smartfilter-checkbox + label {
    font-family: hnlight;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #0777bc;
    border-bottom: 1px dashed #0777bc;
    line-height: 1;
    cursor: pointer;
}
.sidebar-smartfilter-checkbox:checked + label {
    background: #ec1b3a;
    color: #fff;
    padding: 7px 10px;
    border-bottom: 0;
}
.sidebar-smartfilter-checkbox ~ .smartfilter-delete {
    display: none;
}
.sidebar-smartfilter-checkbox:checked ~ .smartfilter-delete {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    background: url(../img/sprite.png) 0 -152px;
    line-height: 1;
    font-size: 0;
    margin-left: 5px;
    cursor: pointer;
}
.sidebar-filter-checkboxes {
    background: #fff;
    padding: 15px 20px
}
.sidebar-filter-custom-checkbox {}
.sidebar-custom-checkbox {
    display: none;
}
.sidebar-custom-checkbox + label {
    font-family: hnlight;
    padding-left: 30px;
    display: block;
    font-size: 12px;
    color: #707070;
    position: relative;
}
.sidebar-custom-checkbox + label:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) 0 -168px;
    left: 0;
    top: 2px;
}
.sidebar-custom-checkbox:checked ~ label:before {
    background-position: 0 -192px;
}
.sidebar-filter-bottom {
    padding: 20px;
    background: #fff;
}
.sidebar-filters-reset {
    font-size: 11px;
    color: #707070;
    text-decoration: none;
    padding-left: 30px;
    line-height: 1;
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.sidebar-filters-reset:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: 0;
    background: url(../img/sprite.png) 0 -216px;
}
.sidebar-filters-reset span {
    font-family: hnlight;
    border-bottom: 1px dashed #707070;
    display: inline-block;
    line-height: 13px;
}
.sidebar-filters-submit {
    font-family: hnbold;
    display: block;
    width: 100%;
    line-height: 1;
    text-transform: uppercase;
    color: #0777bc;
    font-size: 12px;
    padding: 15px 5px;
    border: 3px solid #0777bc;
    background: #fff;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-filters-submit:hover {
    background: #0777bc;
    color: #fff;
}
.main {
    width: 820px;
    float: left;
    padding-left: 30px;
}
.main-slider-wrap {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    margin-bottom: 25px;
    height: 296px;
    overflow: hidden;
}
.main-slider-wrap a.bx-prev,
.product-mobile-slider-wrap a.bx-prev {
    width: 45px;
    height: 45px;
    background: rgba(0,0,0,.15);
    left: 0;
}
.main-slider-wrap a.bx-prev:before,
.product-mobile-slider-wrap a.bx-prev:before {
    position: absolute;
    content: '';
    background: url(../img/sprite.png) 0 -236px;
    width: 16px;
    height: 25px;
    top: 11px;
    left: 14px;
}
.main-slider-wrap a.bx-next,
.product-mobile-slider-wrap a.bx-next {
    width: 45px;
    height: 45px;
    background: rgba(0,0,0,.15);
    right: 0;
}
.main-slider-wrap a.bx-next:before,
.product-mobile-slider-wrap a.bx-next:before {
    position: absolute;
    content: '';
    background: url(../img/sprite.png) 0 -270px;
    width: 16px;
    height: 25px;
    top: 11px;
    left: 14px;
}
.main-slider-wrap a.bx-prev:hover,
.main-slider-wrap a.bx-next:hover {
    background: rgba(0,0,0,.5);
}
.main-slider-item {
    display: block;
    position: relative;
}
.main-slider-image {
    position: relative;
    float: left;
    /*width: 48%;*/
    width: 395px;
}
.main-slider-image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.main-slider-special {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 90px 0 0;
    border-color: #ec1b3a transparent transparent transparent;
    z-index: 1;
}
.main-slider-special span {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    display: inline-block;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    position: absolute;
    top: -72px;
    left: 5px;
}
.main-slider-info {
    float: left;
    background: #fff;
    /*width: 52%;*/
    width: 425px;
}
.main-slider-info-header {
    background: #ec1b3a;
    display: block;
    padding: 0 30px;
    height: 97px;
    color: #fff;
    border-bottom: 3px solid #da102e;
    line-height: 97px;
}
.main-slider-info-header strong {
    font-family: hnbold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 26px;
    line-height: 30px;
}
.main-slider-info-header > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 100%;
}
.main-slider-info-header > span > span {
    font-family: hnroman;
    display: block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 25px;
}
.main-slider-info-price {
    display: block;
    background: #fff;
    border-bottom: 1px solid #f1f2f3;
    padding: 26px 30px;
    font-family: Roboto, sans-serif;
}
.main-slider-price-label {
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    color: #707070;
    margin-right: 10px;
    line-height: 25px;
}
.main-slider-prices-wrap {
    display: inline-block;
    vertical-align: middle;
}
.main-slider-price-old {
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    color: #000;
    text-decoration: line-through;
    line-height: 25px;
    margin-right: 10px;
}
.main-slider-price-new {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #ec1b3a;
}
.main-slider-info-bottom {
    background: #fff;
    padding: 4px 30px;
    display: table;
    width: 100%;
    table-layout: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-slider-info-bottom > span {
    display: table-row;
}
.main-slider-info-bottom > span > span {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}
.main-slider-bottom-icon {
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
    position: relative;
    margin: 5px 0;
    line-height: 14px;
}
.main-slider-bottom-icon:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../img/sprite.png);
    left: 0;
    top: 50%;
}
.main-slider-wrap .bx-pager {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 14px;
    width: auto;
    line-height: 1;
    font-size: 0;
}
.main-slider-wrap .bx-pager-item {
    vertical-align: middle;
    margin-right: 6px;
}
.main-slider-wrap .bx-pager-item a {
    border-radius: 0 !important;
    width: 12px !important;
    height: 12px !important;
    border: 1px solid #fff;
    background: transparent !important;
    margin: 0 !important;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}
.main-slider-wrap .bx-pager-item a.active,
.main-slider-wrap .bx-pager-item a:hover {
    background: #fff !important;
}
.grid-sorting-block {
    font-family: Roboto, sans-serif;
    padding: 0 0 23px 0;
    border-bottom: 3px solid #000;
}
.grid-sorting-block-left {
    float: left;
}
.grid-sorting-block-right {
    float: right;
    text-align: right;
}
.grid-sorting-block-left > label {
    font-weight: 400;
    font-size: 13px;
    color: #707070;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    margin-right: 15px;
}
.grid-sorting-block-element {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    color: #0777bc;
    padding-right: 10px;
    margin-right: 15px;
    line-height: 1;
}
.grid-sorting-block-element > input {
    display: none;
}
.grid-sorting-block-element label,
.grid-sorting-block-element a {
    display: inline-block;
    border-bottom: 1px dashed #0777bc;
    line-height: 1;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #0777bc;
}
.grid-sorting-block-element label:after,
.grid-sorting-block-element a:after {
    position: absolute;
    content: '';
    width: 6px;
    height: 3px;
    background: url(../img/sprite.png) 0 -420px;
    right: -13px;
    top: 50%;
}
.grid-sorting-block-left input:checked + label:after {
    background: red;
}
.grid-sorting-block-element a.arrowDown:after {}
.grid-sorting-block-element a.arrowUp:after {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.grid-sorting-block-right > label{
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: 400;
    font-size: 13px;
    color: #707070;
}
.grid-sorting-block-amount {
    display: inline-block;
    vertical-align: middle;
}
.grid-sorting-block-amount > input {
    display: none;
}
.grid-sorting-block-amount label,
.grid-sorting-block-amount a {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 13px;
    color: #0777bc;
    line-height: 1;
    text-transform: uppercase;
    padding: 5px 8px;
    text-decoration: none;
}
.grid-sorting-block-amount label span,
.grid-sorting-block-amount a span {
    line-height: 1;
    border-bottom: 1px dashed #0777bc;
}
.grid-sorting-block-amount input:checked + label,
.grid-sorting-block-amount a.active {
    background: #16bdce;
    color: #fff;
}
.grid-sorting-block-amount input:checked + label span,
.grid-sorting-block-amount a.active span {
    border-color: transparent;
}
.products-grid {
    margin: 30px -15px 0;
}
.products-grid-item {
    float: left;
    width: 50%;
    padding: 0 15px 30px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.products-grid-product {
    border: 1px solid #dcdedf;
    background: #f6f7f7;
    padding: 9px;
}
.products-grid-product > a {
    text-decoration: none;
}
.pg-product-images {
    background: #fff;
    display: block;
}
.pg-product-bigimage {
    position: relative;
    float: left;
    width: 375px;
/*
    width: 285px;
    padding-right: 5px;
*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pg-product-bigimage i {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #ec1b3a transparent transparent transparent;
    z-index: 1;
}
.pg-product-bigimage i span {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    display: inline-block;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    position: absolute;
    top: -53px;
    left: 1px;
}
.pg-product-bigimage img {
    display: block;
    max-width: 375px;
    max-height: 211px;
}
.pg-product-smallimages {
    float: left;
    width: 90px;
}
.pg-product-smallimages img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 3px;
}
.pg-product-smallimages img:last-child {
    margin-bottom: 0;
}
.pg-product-labels {
    padding: 15px 35px;
    text-align: center;
    background: #fff;
    display: block;
}
.pg-product-labels-wrap {
    display: block;
}
.pg-product-name {
    display: inline;
    vertical-align: middle;
    font-family: hnbold;
    font-size: 20px;
    color: #000;
    line-height: 25px;
}
.pg-product-code {
    display: inline;
    vertical-align: middle;
    font-family: hnroman;
    font-size: 12px;
    color: #333;
    line-height: 25px;
    white-space: nowrap;
}
.pg-product-priceblock {
    font-family: Roboto, sans-serif;
}
.pg-product-pricelabel {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    color: #707070;
    line-height: 30px;
    margin-right: 5px;
}
.pg-product-priceold {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #ec1b3a;
    margin-right: 5px;
    text-decoration: line-through;
}
.pg-product-pricenew {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #0777bc;
}
.pg-product-specs {
    font-family: Roboto, sans-serif;
    background: #fff;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #f1f2f3;
}
.pg-product-specs > div {
    display: table-row;
}
.pg-product-specs > div > div {
    display: table-cell;
    width: 50%;
    padding: 5px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pg-product-specs > div > div:first-child {
    border-right: 1px solid #f1f2f3;    
}
.pg-product-specs span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 30px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /*color: #333;*/
    color: #000;
}
.pg-product-specs > div:first-child > div {
    padding-top: 10px;
}
.pg-product-specs > div:last-child > div {
    padding-bottom: 10px;
}
.pg-product-specs span:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(../img/sprite.png);
    left: 0;
    top: 50%;
    margin-top: -5px;
}
.pg-product-bottom {	
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 15px 7px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
		
		display: none;
}
.pg-product-bottom > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    line-height: 1;
}
.pg-product-bottom {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 11px;
}
.pg-product-bottom-btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 10px;
    padding-left: 25px;
    text-decoration: none;
    color: #333;
}
.pg-product-addfav span,
.pg-product-isfav span,
.pg-product-removefav span,
.pg-product-print span  {
    border-bottom: 1px dashed #333;
}
.pg-product-bottom-btn:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(../img/sprite.png);
    left: 0;
    top: 50%;
    margin-top: -7px;
}
.pg-product-date:before {}
.pg-product-addfav:before {}
.pg-product-print:before {}
.products-pagination {
    border-top: 3px solid #000;
    padding: 0 0 30px 0;
    text-align: center;
    font-family: Roboto, sans-serif;
}
.products-pagination-info {
    font-weight: 300;
    font-size: 12px;
    color: #707070;
    line-height: 18px;
    text-align: left;
    clear: both;
    padding: 10px 0 5px;
}
.products-grid-pagination-prev {
    float: left;
    text-align: left;
    position: relative;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #0777bc;
}
.products-grid-pagination-prev:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 9px;
    background: url(../img/sprite.png) 0 -860px;
    left: 0;
    top: 50%;
    margin-top: -3px;
}
.products-grid-pagination-next {
    float: right;
    text-align: left;
    position: relative;
    padding-right: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #0777bc;
}
.products-grid-pagination-next:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 9px;
    background: url(../img/sprite.png) 0 -872px;
    right: 0;
    top: 50%;
    margin-top: -3px;
}
.products-pagination-pages {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}
.products-pagination-pages a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #0777bc;
    padding: 4px 9px 6px;
    display: inline-block;
    vertical-align: middle;
}
.products-pagination-pages a span {
    border-bottom: 1px solid #0777bc;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.products-pagination-pages a.active {
    background: #16bdce;
    color: #fff;
}
.products-pagination-pages a.active span {
    border: 0;
}
.products-pagination-dots span {
    border: 0 !important;
}
footer {
    background: #fff;
    padding: 30px 0;
    position: relative;
}
footer:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 5px;
    height: 105px;
    background: url(../img/footer-dots.png) left top repeat;
}
.footer-top {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #000;
    line-height: 18px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ec1b3a;
}
.footer-top > div {
    float: left;
    margin-right: 30px;
}
.footer-top > div:first-child {
    width: 250px;
}
.footer-top > div:nth-child(2) {
    width: 250px;
}
.footer-top > div:last-child {
    width: 540px;
    margin-right: 0;
}
.footer-bottom {
    padding-top: 30px;
}
.footer-logo {
    float: left;
    width: 250px;
    margin-right: 30px;
    padding-top: 4px;
}
.footer-contacts {
    float: left;
    width: 250px;
    margin-right: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
.footer-contacts a {
    display: block;
    font-size: 12px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    padding-left: 27px;
    position: relative;
}
.footer-contacts a:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    background-image: url(../img/sprite.png);
    left: 0;
}
.footer-social {
    float: left;
    width: 250px;
    margin-right: 30px;
}
.footer-social span {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
.footer-madeby {
    float: right;
    width: 260px;
    text-align: right;
    padding-top: 46px;
}
.footer-social-icons {font-size: 0;}
.footer-social-icons a {
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 31px;
    margin: 10px 10px 0 0;
    background-image: url(../img/sprite.png);
}
.footer-fb {
    background-position:  0 -88px;
}
.footer-insta {
    background-position:  0 -120px;
}
.footer-subscribe {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 0;
    background: url(../img/sprite.png) 0 -1030px;
    cursor: pointer;
}
.footer-last {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-align: right;
}
.footer-copy {}
.footer-madeby {
    line-height: 1;
}
.footer-madeby span, .footer-madeby a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.product-left,
.product-right {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-left {
    padding: 0 10px 0 0;
}
.product-right {
    padding: 0 0 0 10px;
}
.product-images {
    display: block;
    max-width: 100%;
    height: auto;
}
.product-image-big {
    margin-bottom: 10px;
    position: relative;
}
.product-image-big a {
    display: block;
    text-decoration: none;
}
.product-image-big img {
    display: block;
    max-width: 100%;
    height: auto;
}
.product-images-grid {
    margin-right: -6px;
}
.product-images-grid > a {
    float: left;
    width: 33.33333333%;
    padding-right: 6px;
    margin-bottom: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.breadcrumbs {
    clear: both;
    margin-bottom: 5px;
}
.breadcrumbs span {
    display: inline-block;
    vertical-align: middle;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    color: #707070;
}
.breadcrumbs span a {
    display: inline-block;
    vertical-align: middle;
    color: #0777bc;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    position: relative;
    margin-right: 20px;
}
.breadcrumbs span a:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 6px;
    background: url(../img/sprite.png) 0 -670px;
    right: -15px;
    top: 50%;
    margin-top: -2px;
}
.page-header {
    position: relative;
    border-bottom: 3px solid #000;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
}
.page-heading {
    font-family: hnbold;
    font-size: 26px;
    line-height: 25px;
    color: #000;
    margin: 0;
}
.page-header-right {
    position: absolute;
    right: 0;
    top: 0;
}
.page-header-right > * {
    font-family: hnroman;
    display: inline-block;
    vertical-align: middle;
}
.page-header-right span {
    font-size: 14px;
    line-height: 25px;
    color: #333;
    margin-right: 5px;
}
.page-header-right strong {
    font-size: 16px;
    color: #fff;
    padding: 4px 7px;
    background: #16bdce;
    line-height: 1;
}
.product-card {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
}
.product-card-header {
    position: relative;
    padding: 0 30px;
    border-bottom: 1px solid #d8dadb;
}
.product-card-special {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #ec1b3a transparent transparent transparent;
    z-index: 1;
}
.product-card-special span {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    display: inline-block;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    position: absolute;
    top: -53px;
    left: 1px;
}
.product-card-priceblock {
    padding: 25px 15px;
    font-family: Roboto, sans-serif;
    text-align: center;
    border-bottom: 1px solid #f1f2f3;
}
.product-card-pricelabel {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
    color: #707070;
    line-height: 30px;
    margin-right: 5px;
}
.product-card-priceold {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ec1b3a;
    margin-right: 5px;
    text-decoration: line-through;
}
.product-card-pricenew {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #0777bc;
}
.product-card-bodynum {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    padding: 15px 0;
}
.product-card-bodynum span {
    display: inline-block;
    vertical-align: middle;
    color: #707070;
}
.product-card-bodynum strong {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-weight: 300;
}
.product-card-form {
    padding: 20px 30px;
    background: #e5e6e7;
    border-bottom: 1px solid #d8dadb;
    position: relative;
}
.product-card-form p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #0777bc;
    text-align: center;
    margin: 0 0 15px;
}
.product-car-form-fields {
    /*margin-bottom: 15px;*/
}
.product-car-form-fields > div {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
.product-car-form-fields > div:last-child {
    padding-right: 0;
    padding-bottom: 0;
    width: 50%;
}
.product-car-form-phone {
    width: 190px;
}
.product-car-form-date {
    width: 160px;
}
.product-car-form-time {
    width: 110px;
    padding-right: 0 !important;
}
.product-card-form-submit,
.blue-submit {
    display: table;
    margin: 0 auto 4px;
    border: 3px solid #0777bc;
    text-transform: uppercase;
    font-family: hnbold;
    font-size: 12px;
    line-height: 1;
    color: #0777bc;
    padding: 12px 13px 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
}
.product-card-form-submit:hover,
.blue-submit:hover {
    background: #0777bc;
    color: #fff;
}
.input-with-icon {
    font-size: 0;
    border: 1px solid #bbbdbf;
    border-radius: 3px;
    line-height: 1;
    background: #fff;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.input-with-icon span:first-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 34px;
    height: 38px;
    border-right: 1px solid #bbbdbf;
}
.input-with-icon span {
    display: table-cell;
    vertical-align: middle;
}
.input-with-icon input {
    width: 100%;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1;
    border: 0;
    outline: 0;
    padding: 0 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-card-specs {
    font-family: Roboto, sans-serif;
    background: #fff;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #f1f2f3;
}
.product-card-specs > div {
    display: table-row;
}
.product-card-specs > div > div {
    display: table-cell;
    width: 50%;
    padding: 5px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-card-specs > div:first-child > div {
    padding-top: 10px;
}
.product-card-specs > div > div:first-child {
    border-right: 1px solid #f1f2f3;
}
.product-card-specs span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 30px;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #333;
}
.product-card-specs span:before {
    position: absolute;
    content: '';
    width: 21px;
    height: 17px;
    background-image: url(../img/sprite.png);
    left: 0;
    top: 50%;
    margin-top: -7px;
}
.product-card-specs > div:last-child > div {
    padding-bottom: 10px;
}
.product-card-specs {
    border-bottom: 1px solid #d8dadb;
}
.product-card-funcs {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 11px;
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 15px 20px;
    background: #f6f7f7;
    border-bottom: 1px solid #d8dadb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product-card-funcs > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    line-height: 1;
}
.product-card-footer {
    background: #fff;
    padding: 15px 30px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}
.product-card-footer strong {
    font-size: 14px;
    line-height: 22px;
    color: #0777bc;
    font-weight: 700;
}
.product-card-footer p {
    margin-top: 0;
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 15px;
}
.product-card-footer > p:last-child {
    margin-bottom: 0;
}
.product-card-footer-divider {
    width: 100%;
    height: 1px;
    background: #f1f2f3;
    margin-bottom: 15px;
}
.product-question-form {
    border: 1px solid #dcdedf;
    padding: 9px;
    background: #f6f7f7;
    margin-top: 20px;
}
.product-question-form > div {
    background: #fff;
    padding: 15px 20px;
}
.product-question-form label {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #0777bc;
    margin-bottom: 15px;
}
.product-question-input {
    display: block;
    width: 100%;
    border: 1px solid #bbbdbf;
    border-radius: 3px;
    padding: 7px 15px;
    line-height: 1;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea.product-question-input {
    resize: none;
    line-height: 20px;
    height: 76px;
}
.product-question-submit {
    display: table;
    padding: 14px 12px;
    font-family: hnbold;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0777bc+0,0869a7+100 */
    background: rgb(7,119,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,119,188,1) 0%, rgba(8,105,167,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0777bc', endColorstr='#0869a7',GradientType=0 ); /* IE6-9 */
}
.product-question-submit:hover,
.product-question-submit:active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2085c3+0,2178b0+100 */
    background: rgb(32,133,195); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,133,195,1) 0%, rgba(33,120,176,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2085c3', endColorstr='#2178b0',GradientType=0 ); /* IE6-9 */
}
.content-left {
    /*float: left;*/
    /*width: 850px;*/
    /*padding-right: 30px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-right {
    float: left;
    width: 250px;
}
.news-block {
    color: #000;
    display: block;
    text-decoration: none;
    border: 1px solid #dcdedf;
    background: #f6f7f7;
    padding: 8px;
    margin-bottom: 20px;
}
.news-block-content {
    background: #fff;
    display: block;
}
.news-block-content > span {
    float: left;
    height: 210px;
    overflow: hidden;
    position: relative;
}
.news-block img {
    display: block;
    max-width: 100%;
    height: auto;
}
.news-block-content > span:first-child {
    width: 280px;
}
.news-block-content > span:last-child {
    /*width: 521px;*/
    width: 802px;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.news-block-header {}
.news-block-name {
    display: block;
    padding-top: 10px;
    margin: 0;
    font-family: hnbold;
    font-size: 20px;
    line-height: 25px;
}
.news-block-date {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
    display: block;
    position: relative;
    padding-left: 26px;
}
.news-block-date:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background: url(../img/sprite.png) 0 -550px;
    top: 50%;
    margin-top: -8px;
    left: 0;
}
.news-block-btn {
    position: absolute;
    bottom: 12px;
    left: 20px;
    text-decoration: underline;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1;
    color: #0777bc;
}
.news-block-text {
    display: block;
    border-top: 1px solid #d8dadb;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    height: 110px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.news-block-text:before {
    position: absolute;
    content: '';
    height: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.5+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.news-block-text p {
    font-weight: 300;
    line-height: 18px;
    color: #333;
    margin-top: 0;
}
.content-right-form {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.content-right-form-header {
    padding: 15px 20px 10px;
    background: #0777bc;
    border-bottom: 3px solid #026589;
}
.content-right-form-header strong {
    text-transform: uppercase;
    display: block;
    font-family: hnbold;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}
.content-right-form-body {
    background: #fff;
    padding: 20px;
}
.content-right-form-phone {
    width: 100%;
    margin-bottom: 10px;
}
.content-right-form-date {
    width: 160px;
    margin-bottom: 10px;
}
.content-right-form-time {
    width: 110px;
    margin-bottom: 10px;
}
.content-right-form .blue-submit {
    margin: 20px 0 0 0;
}
.content-left,
.content-right {
    margin-bottom: 20px;
}
.content-article p {
    font-family: Roboto, sans-serif;
    
    font-size: 16px;
    line-height: 18px;
    color: #333;
    margin-top: 0;
}
.content-article {
    padding-bottom: 15px;
}
.content-article img {
    display: block;
    margin-bottom: 20px;
}
.content-article strong {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}
.contacts-top {
    margin: 0 -20px 20px 0;
}
.contacts-block {
    float: left;
    width: 280px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts-block-inner {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.contacts-block-header {
    height: 57px;
    line-height: 1;
    padding: 0 20px;
    background: #0777bc;
    border-bottom: 3px solid #026589;
    position: relative;
}
.contacts-block-header i {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -11px;
}
.contacts-block-header strong {
    display: block;
    font-family: hnbold;
    font-weight: normal;
    font-size: 12px;
    line-height: 57px;
    color: #fff;
    text-transform: uppercase;
}
.contacts-block-body {
    background: #fff;
    padding: 15px 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #010101;
    font-size: 14px;
}
.contacts-block-body p {
    font-size: 14px;
    line-height: 20px;
}
.contacts-block-body p:first-child {
    margin-top: 0;
}
.contacts-block-body p:last-child {
    margin-bottom: 0;
}
.contacts-block-body a {
    display: inlne-block;
    color: #0777bc;
}
.contacts-block-body table {
    width: 100%;
}
.contacts-block-body td {
    line-height: 29px;
}
.contacts-block-body td:first-child {
    padding-right: 15px;
}
.contacts-block {}
.contacts-bottom {
    margin-bottom: 40px;
}
.contacts-bottom {
    margin-right: -20px;
}
.contacts-bottom > div {
    float: left;
    width: 50%;
    padding-right: 20px;
    height: 343px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts-map,
.contacts-form-wrap {
    background: #f6f7f7;
    padding: 9px;
    border: 1px solid #dcdedf;
    height: 323px;
}
.contacts-map {}
#contacts-map {
    width: 100%;
    height: 100%;
}
.contacts-form {
    background: #fff;
    height: 323px;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts-form label {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #0777bc;
    margin-bottom: 20px;
}
.contacts-form-2col {
    margin-right: -10px;
}
.contacts-form-2col > div {
    float: left;
    width: 50%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reCaptcha-div {
    margin-bottom:10px;
    position:relative;
}
.reCaptcha-div-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86%;
    z-index: 1;
    background-color: #ffb4b4;
    color: #0777bc;
    padding-top: 10px;
    display: none;
}
a.header-phone:before {
    background-position: 0 0;
    width: 16px;
    height: 14px;
    margin-top: -6px;
}
a.header-fax:before {
    background-position: 0 -36px;
    /*background-position: 0 -16px;
    background-position: 0 0;*/
    width: 16px;
    height: 14px;
    margin-top: -6px;
}
a.header-mobile:before {
    background-position: 0 -36px;
    width: 9px;
    height: 15px;
    margin-top: -7px;
}
a.header-mail:before {
    background-position: 0 -56px;
    width: 13px;
    height: 10px;
    margin-top: -5px;
}
a.header-main-fb {
    background: url(../img/sprite.png) 0 -88px;
}
a.header-main-insta {
    background: url(../img/sprite.png) 0 -120px;
}
.header-main-social img.header-main-subscribe {
    /*background: url(../img/sprite.png) 0 -1030px;*/
    background-color: transparent;
    cursor: pointer;
}
.main-slider-color:before {
    background-position: 0 -300px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}
.main-slider-year:before {
    background-position: 0 -320px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}
.main-slider-transmission:before {
    background-position: 0 -360px;
    width: 15px;
    height: 17px;
    margin-top: -8px;
}
.main-slider-engine:before {
    background-position: 0 -340px;
    width: 14px;
    height: 17px;
    margin-top: -8px;
}
.main-slider-mileage:before {
    background-position: 0 -380px;
    width: 17px;
    height: 14px;
    margin-top: -8px;
}
.main-slider-body:before {
    background-position: 0 -400px;
    width: 21px;
    height: 13px;
    margin-top: -6px;
}
span.main-catalog-color:before {
    background-position: 0 -430px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}
span.main-catalog-year:before {
    background-position: 0 -450px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}
span.main-catalog-transmission:before {
    background-position: 0 -490px;
    width: 15px;
    height: 17px;
    margin-top: -8px;
}
span.main-catalog-engine:before {
    background-position: 0 -470px;
    width: 14px;
    height: 17px;
    margin-top: -8px;
}
span.main-catalog-mileage:before {
    background-position: 0 -510px;
    width: 17px;
    height: 14px;
    margin-top: -8px;
}
span.main-catalog-body:before {
    background-position: 0 -530px;
    width: 21px;
    height: 13px;
    margin-top: -6px;
}
.pg-product-date:before {
    background-position: 0 -550px;
}
.pg-product-addfav:before {
    background-position: 0 -962px;
}
.pg-product-isfav:before {
    background-position: 0 -570px;
}
.pg-product-removefav:before {
    background-position: 0 -982px;
}
.pg-product-print:before {
    height: 14px;
    margin-top: -7px;
    background-position: 0 -590px;
}
.footer-phone:before {
    margin-top: -5px;
    background-position: 0 -610px;
}
.footer-fax:before {
    margin-top: -7px;
    left: 8px !important;
    background-position: 0 -650px;
    /*background-position: 0 -630px;
    background-position: 0 -610px;*/
}
.footer-mobile {
/*    margin-top: 12px; */
}
.footer-mobile:before {
    margin-top: -7px;
    left: 8px !important;
    background-position: 0 -650px;
}
.product-specs-color:before {
    background-position: 0 -740px;
}
.product-specs-transmission:before {
    background-position: 0 -800px;
}
.product-specs-year:before {
    background-position: 0 -760px;
}
.product-specs-mileage:before {
    background-position: 0 -820px;
}
.product-specs-engine:before {
    background-position: 0 -780px;
}
.product-specs-body:before {
    background-position: 0 -840px;
}
.only-mobile {
    display: none;
}
.filters-result {
    position: absolute;
    z-index: 10000;
    color: #fff;
    padding: 8px 8px 8px 12px;
    background: #fff;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.18);
    -khtml-box-shadow: 0 0 18px rgba(0,0,0,0.18);
    -moz-box-shadow: 0 0 18px rgba(0,0,0,0.18);
    -ms-box-shadow: 0 0 18px rgba(0,0,0,0.18);
    -o-box-shadow: 0 0 18px rgba(0,0,0,0.18);
    box-shadow: 0 0 18px rgba(0,0,0,0.18);
    top: 200px;
    left: 245px;
    border-radius: 9px;
    white-space: nowrap;
    line-height: 25px;
    vertical-align: bottom;
    margin-top: -17px;
    display: none;
    -webkit-transition: top .1s linear 0s;
    -moz-transition: top .1s linear 0s;
    transition: top .1s linear 0s;
}
.filters-result-corner {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    border-right: 9px solid #fff;
    border-top: 9px solid rgba(255,255,255,0);
    border-bottom: 9px solid rgba(255,255,255,0);
    left: -10px;
    top: 13px;
}
.filters-result-corner em {
    border-right: 8px solid #fff;
    border-top: 8px solid rgba(255,255,255,0);
    border-bottom: 8px solid rgba(255,255,255,0);
    left: 2px;
    top: -8px;
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
}
.sidebar-floating-submit {
    font-family: hnbold;
    display: block;
    width: 100%;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: #0777bc;
    font-size: 12px;
    padding: 6px 8px;
    border: 2px solid #0777bc;
    background: #fff;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-floating-submit:hover {
    background: #0777bc;
    color: #fff;
}
.sidebar-floating-close {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: #fff;
    line-height: 20px;
    background: #0777bc;
}
.ui-timepicker .ui-widget-header,
.ui-datepicker .ui-widget-header {
    border: 1px solid #0071B6;
    background: rgb(7,119,188);
    background: -moz-linear-gradient(top, rgba(7,119,188,1) 0%, rgba(8,105,167,1) 100%);
    background: -webkit-linear-gradient(top, rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%);
    background: linear-gradient(to bottom, rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0777bc', endColorstr='#0869a7',GradientType=0 );
}
.ui-timepicker.ui-widget,
.ui-datepicker.ui-widget {
    font-size: .9em;
}
.ui-timepicker .ui-state-highlight,
.ui-datepicker .ui-state-highlight {
    border: 1px solid #0773B7;
    background: #0773B7;
    color: #fff;
    opacity: .7;
}
.ui-timepicker .ui-state-hover,
.ui-timepicker .ui-state-active,
.ui-datepicker .ui-state-hover {
    border: 1px solid #0773B7;
    background: #0773B7;
    color: #fff;
    opacity: 1;
}
.product-car-form-fields > div:last-child input::-webkit-input-placeholder {
    line-height: 20px;
}
.product-car-form-fields > div:last-child input:-moz-placeholder { /* Firefox 18- */
    line-height: 20px;
}
.product-car-form-fields > div:last-child input::-moz-placeholder {  /* Firefox 19+ */
    line-height: 20px;
}
.product-car-form-fields > div:last-child input:-ms-input-placeholder {  
    line-height: 20px;
}
.inactiveselect {position: relative;}
.inactiveselect:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 1;
}
.soldlabel,
.reservedlabel {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    width: 136px;
    text-align: center;
    height: 38px;
    line-height: 31px;
    box-sizing: border-box;
    text-transform: uppercase;
    top: 50%;
    margin-top: -19px;
    left: 50%;
    margin-left: -68px;
    z-index: 1;
}
.soldlabel {border: 3px solid #e9213f;}
.reservedlabel {border: 3px solid #16bdce;}
.products-grid-product.sold .pg-product-bigimage:before,
.products-grid-product.reserved .pg-product-bigimage:before {
    position: absolute;
    content: '';
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
}
.products-grid-product.sold .pg-product-smallimages,
.products-grid-product.reserved .pg-product-smallimages {
    position: relative;
    background: #000;
}
.products-grid-product.sold .pg-product-smallimages:before,
.products-grid-product.reserved .pg-product-smallimages:before {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 3px;
    background: #fff;
    top: 68px;
}
.products-grid-product.sold .pg-product-smallimages:after,
.products-grid-product.reserved .pg-product-smallimages:after {
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 3px;
    background: #fff;
    top: 139px;
}
.products-grid-product.sold .pg-product-smallimages img,
.products-grid-product.reserved .pg-product-smallimages img {
    opacity: .5;
}
.products-grid-product.sold .pg-product-labels,
.products-grid-product.sold .pg-product-specs,
.products-grid-product.reserved .pg-product-labels,
.products-grid-product.reserved .pg-product-specs {
    position: relative;
}
.products-grid-product.sold .pg-product-labels:before,
.products-grid-product.sold .pg-product-specs:before,
.products-grid-product.reserved .pg-product-labels:before,
.products-grid-product.reserved .pg-product-specs:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    z-index: 1;
}
.product-left.sold .product-image-big,
.product-left.reserved .product-image-big {
    position: relative;
}
.product-left.sold .product-image-big:before,
.product-left.reserved .product-image-big:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}
.product-left.sold .product-images-grid > a,
.product-left.reserved .product-images-grid > a {
    position: relative;
}
.product-left.sold .product-images-grid > a:before,
.product-left.reserved .product-images-grid > a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 5px;
    bottom: 0;
    background: rgba(0,0,0,.5);
}
.product-left.sold {}
span.main-catalog-engine-power:before {
	background: url(../img/engine-power1.png) 0 0 no-repeat;
	width: 24px;
	height: 17px;
	margin-top: -8px;
}
span.main-catalog-drive-type:before {
	background: url(../img/drive-type1.png) 0 0 no-repeat;
	width: 19px;
	height: 13px;
	margin-top: -6px;
}
span.product-specs-engine-power:before {
	background: url(../img/engine-power2.png) 0 0 no-repeat;
	width: 24px;
	margin-top: -8px;
}
span.product-specs-drive-type:before {
	background: url(../img/drive-type2.png) 0 0 no-repeat;
	width: 19px;
	height: 13px;
	margin-top: -6px;
}
span.main-slider-engine-power:before {
	background: url(../img/engine-power3.png) 0 0 no-repeat;
	width: 24px;
	height: 17px;
	margin-top: -8px;
}
span.main-slider-drive-type:before {
	background: url(../img/drive-type3.png) 0 0 no-repeat;
	width: 19px;
	height: 13px;
	margin-top: -6px;
}

/* Styles for FAQ accordion here */
#accordion {
    margin-bottom: 20px;
}


#accordion .ui-accordion-header {
    border-radius: 0;
    background: #0777bc;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #026589;
    border-left: none;
    background: rgb(7,119,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,119,188,1) 0%, rgba(8,105,167,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0777bc', endColorstr='#0869a7',GradientType=0 ); /* IE6-9 */

}

#accordion .ui-accordion-header:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2085c3+0,2178b0+100 */
    background: rgb(32,133,195); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,133,195,1) 0%, rgba(33,120,176,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2085c3', endColorstr='#2178b0',GradientType=0 ); /* IE6-9 */
}

#accordion .ui-state-default {
    color: #ffffff;
    border: none;
}

#accordion .ui-state-default .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png");
}

#accordion .ui-accordion-content {
    background: #fff;
    padding: 15px 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #010101;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
/* FAQ accordion styles end */
.spinShow {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.fav-alarm {
    color: red;
    font-weight: bold;
    font-size: 150%;
}

.cookieText {
    position: fixed;
    text-align: right;
    background-color: #4682b4;
    border-radius: 5px;
    bottom: 10px;
    left: 100px;
    right: 100px;
    padding: 5px 30px;
    z-index: 99;
    justify-content: flex-end;
    border-color: #708090;
    border-style: solid;
    color: white;
    max-height: 90%;
}
.cookie-submit {
    padding: 12px 14px;
    margin-left: 5px;
    font-family: hnbold;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    border: 0;
    border-radius: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0777bc+0,0869a7+100 */
    background: rgb(7,119,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,119,188,1) 0%, rgba(8,105,167,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(7,119,188,1) 0%,rgba(8,105,167,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0777bc', endColorstr='#0869a7',GradientType=0 ); /* IE6-9 */
}
.cookie-submit:hover,
.cookie-submit:active,
.cookie-submit:disabled {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2085c3+0,2178b0+100 */
    background: rgb(32,133,195); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,133,195,1) 0%, rgba(33,120,176,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(32,133,195,1) 0%,rgba(33,120,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2085c3', endColorstr='#2178b0',GradientType=0 ); /* IE6-9 */
}

.cookie-closebutt {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 16px;
    height: 16px;
    background-image: url("images/ui-icons_ffffff_256x240.png");
    background-position: -96px -128px;
    margin-left: 10px;
}

.cookieText a {
    display: inline-block;
    border-bottom: 1px dashed #ccccff;
    line-height: 1;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #ccccff;
    font-family: Roboto, sans-serif;
    margin: 0 2px;
}
.rules-container {
    text-align: left;
    color: #222;
    background-color: #ccccff;
    border: 1px inset;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    font-weight: normal;
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
    font-size: 12px;
    line-height: 14px;
    height: 300px;
    overflow-y: scroll;
}
.rules-container a {
    color: blue;
}
.review-container {
    background-color: white;
    float: left;
    width:100%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    height: 68px;
}
.review-caption {
    font-family: hnbold;
    border-right: 3px solid #026589 !important;
    background-color: #0777bc;
    font-size: 14px;
    color: white;
    line-height: 16px;
    padding: 26px 26px;
    width: 195px;
    float: left;
}
.review-slick {
    width: 785px;
    height: 68px;
    float: right;
    margin-right: 30px;
}

.label-fav {
    margin-left:30px;
    font-weight: 400;
    font-size: 13px;

    display: inline-block;
    border-bottom: 1px dashed #0777bc;
    line-height: 1;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #0777bc;
    font-family: Roboto, sans-serif;
}
.label-fav:before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: -6px;
    left: -30px;
    background: url(../img/sprite.png) 0 -1004px;
}

.content-bottom {
    background-color: #f6f7f7;
    float:left;
    width: 100%;
    height: 216px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.content-bottom-caption {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 0;
    border-bottom: 1px solid #d8dadb;
    color: #0777bc;
}
.slick-container {
    background-color: white;
    margin: 0 30px;
    height: 160px;
}
.add-slick-price {
    display: block;
    width: 235px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    padding: 3px 0;
    background-color: #0777bc;
    color: white;
}

.modal {
    background-color: white;
    opacity: .7;
    filter: Alpha(Opacity=50);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
}
.subscribeContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    opacity: 1;
    color: white;
    background-color: #4682b4;
    box-sizing: border-box;
    top: 144px;
    width: 1100px;
    left: 50%;
    margin-left: -550px;
    bottom: 10px;
    z-index: 103;
    border-radius: 5px;
    border: 1px solid #708090;
    justify-content: flex-end;
    padding: 5px 30px;
}
.subscribeHeader {
    border-bottom: 2px groove #4682b4;
    text-align: center;
    padding-bottom: 5px;


}
.subscribeForm {
    padding-top: 10px;
    font-weight: normal;
}
.subscribe-buttons {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 2px groove #4682b4;
}
.subscribeAccept {
    padding-top: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
}
.subscribeAccept span, .subscribeAccept p {
    font-style: italic;
    color: #ccccff;
}
#subscribeAccept {
    margin-right: 5px;
}
.subscribeContainer .rules-container {
    bottom: 10px;
    left: 30px;
    right: 30px;
    width: auto;
    height: auto;
}


.imgIndex {
    width: 375px;
    height: 211px;
}

.imgAlsoSeen {
    max-width: 121px;
    max-height: 68px;
}
.imgSimilar {
    max-width: 235px;
    max-height: 132px;
}
.imgBig {
    max-width: 540px;
    max-height: 304px;
}

.blink-fav {
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
    text-decoration: none;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    margin-top: -7px;
    opacity: 0;
}
.blink-fav-mobile {
    width: 24px;
    height: 24px;
    opacity: 1;
    animation: blinkfav 2s linear infinite;
}
.fav-mobile-container {
    margin-top: -2px;
    width: 24px;
    height: 24px;
    background: url(../img/sprite.png) 0 -1004px;
}
@keyframes blinkfav {
  50% {
    opacity: 0.4;
  }
}

.cookie-buttons {
    display: inline;
    white-space:nowrap;
    overflow:hidden;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 768px) {
    body {
        min-width: 1140px;
    }
    .product-card-form-submit {
        /*position: absolute;*/
        width: 230px;
        box-sizing: border-box;
        /*right: 30px;
        bottom: 20px;*/
        margin-bottom: 0;
        height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .wrap {
        width: 100%;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .header-top {
        position: relative;
        z-index: 1;
    }
    .only-mobile {
        display: block;
    }
    .logo {
        display: block;
    }
    .header-main-left {float: none; text-align: center;}
    .logo img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        line-height: 103px;
    }
    .header-top-left,
    .header-top-right {
        display: none;
    }
    .header-mobile-top {
        position: relative;
        padding-right: 50px;
    }
    .header-top-mobile-contacts,
    .header-mobile-top .header-main-social {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .header-mobile-top .header-main-social {
        line-height: 1;
        margin: 5px 0 5px 20px;
        font-size: 0;
    }
	.header-mobile-top .header-main-social .header-main-subscribe {
	    background: url(../img/sprite.png) 0 -1030px;
	    background-color: transparent;
	    cursor: pointer;
	}
    .header-top-mobile-contacts > .header-top-contacts,
    .header-top-mobile-contacts-btn {
        display: inline-block;
        vertical-align: middle;

    }
    .header-top-mobile-contacts-btn {
        width: 25px;
        height: 39px;
        position: relative;
    }
    .header-top-mobile-contacts-btn:before {
        position: absolute;
        content: '';
        width: 9px;
        height: 6px;
        background: url(../img/sprite.png) 0 -904px no-repeat;
        top: 50%;
        margin-top: -3px;
        left: 50%;
        margin-left: -4px;
    }
    .header-top-contacts li {
        margin-right: 0;
        display: block;
    }
    .mobile-menu {
        /*position: absolute;
        right: -10px;
        top: 0;*/
    }
    .mobile-menu-btn {
        width: 48px;
        height: 39px;
        position: absolute;
        top: 0;
        right: -10px;
        border-left: 1px solid #707070;
    }
    .mobile-menu-btn:before {
        position: absolute;
        content: '';
        width: 29px;
        height: 20px;
        background: url(../img/sprite.png) 0 -880px no-repeat;
        top: 50%;
        margin-top: -10px;
        left: 50%;
        margin-left: -14px;
    }
    .active > .mobile-menu-btn {
        border-color: #2084c2;
        background: #2084c2;
    }
    .mobile-menu-dropdown {
        background: #0777bc;
        position: absolute;
        top: 100%;
        left: -10px;
        right: -10px;
        display: none;
    }
    .active > .mobile-menu-dropdown {
        display: block;
    }
    .mobile-menu-dropdown ul,
    .mobile-menu-dropdown li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .mobile-menu-dropdown ul a {
        display: block;
        padding: 15px 20px;
        font-family: hnbold;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        border-top: 1px solid #2085c3;
        border-bottom: 1px solid #066ba9;
    }
    .header-top-mobile-contacts-dropdown {
        display: none;
        position: absolute;
        background: #000;
        top: 100%;
        left: -10px;
        padding: 10px 20px 15px 10px;
    }
    .work-times:before {
        top: 0;
        margin-top: 0;
    }
    .work-times li {
        display: block;
        line-height: 20px;
    }
    .header-top-contacts a {
        line-height: 20px;
    }
    .header-top-mobile-contacts-dropdown .header-top-contacts li {
        margin: 0 0 10px 0;
    }
    .header-top-mobile-contacts > .header-top-contacts a {line-height: 39px;}
    .header-main-right {display: none;}
    .sidebar-filters {
        width: 100%;
        padding: 0 10px;
        position: relative;
        z-index: 10000;
        float: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sidebar-mobile {
        height: 40px;
        border-bottom: 3px solid #000;
    }
    .sidebar-mobile a {
        text-decoration: none;
        height: 20px;
        /*width: 50%;*/
        float: left;
        color: #000;
        line-height: 20px;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sidebar-mobile a span {
        position: relative;
        font-family: hnbold;
        font-size: 12px;
        display: inline-block;
        border-bottom: 1px dashed #000;
        line-height: 1;
        text-transform: uppercase;
    }
    .sidebar-mobile a span.no-underline {
	border:none;
    }
    .sidebar-mobile a:nth-child(1) {
	width: 40%;
        padding: 0 0 0 30px;
    }
    .sidebar-mobile a:nth-child(2) {
	width: 20%;
	text-align: center;
	padding: 0 30px 0 30px;
	cursor: pointer;
    }
    .sidebar-mobile a:nth-child(3) {
	width: 40%;
        text-align: right;
        padding: 0 30px 0 0;
    }
    .sidebar-mobile a:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: 0;
    }
    .sidebar-mobile a:nth-child(1):before {
        background: url(../img/sprite.png) 0 -915px no-repeat;
        left: 0;
    }
    .sidebar-mobile a:nth-child(3):before {
        background: url(../img/sprite.png) 0 -939px no-repeat;
        right: 0;
    }
    .sidebar-filters-form {
        display: none;
        position: absolute;
        width: 250px;
        left: 0;
        top: 0;
    }
    .sidebar-filters-form.active {display: block;}
    .sidebar-filters-heading {
        position: relative;
        padding-right: 35px;
    }
    .sidebar-filters-heading:after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background: url(../img/sprite.png) 0 -939px no-repeat;
        right: 12px;
        top: 50%;
        margin-top: -10px;
    }
    .sidebar-sorting-form {
        display: none;
        width: 250px;
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    }
    .sidebar-sorting-form.active {
        display: block;
    }
    .sidebar-sorting-heading {
        font-family: hnbold;
        border-bottom: 3px solid #026589 !important;
        background: #0777bc;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        line-height: 15px;
        padding: 20px 20px 20px 35px;
        position: relative;
    }
    .sidebar-sorting-heading:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        top: 0;
        background: url(../img/sprite.png) 0 -915px no-repeat;
        left: 12px;
        top: 50%;
        margin-top: -10px;
    }
    .sidebar-sorting-form > div {
        border-bottom: 1px solid #dcdedf;
    }
    .sidebar-sorting-submit {
        font-family: hnbold;
        display: block;
        width: 100%;
        line-height: 1;
        text-transform: uppercase;
        color: #0777bc;
        font-size: 12px;
        padding: 15px 5px;
        border: 3px solid #0777bc;
        background: #fff;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .sidebar-sorting-submit:hover {
        background: #0777bc;
        color: #fff;
    }
    .main-slider-wrap, .grid-sorting-block {display: none;}
    .main {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-top: 20px;
    }
    .product-grid-wrap {
        padding: 0 10px;
    }
    .products-grid {
        margin: 0 -10px;
    }
    .products-grid-item {
        width: 100%;
        padding: 0 10px 20px 10px;
    }
    .pg-product-smallimages {display: none;}
    .pg-product-bigimage {
        width: auto;
        padding: 0;
        display: table;
        float: none;
        margin: 0 auto;
    }
    .pg-product-bigimage img {
	width: 100% !important;
	height: auto !important;
    }
    .imgIndex {
	width: 100%;
	height: auto;
    }
    .pg-product-name {
        font-size: 16px;
        display: block;
        text-align: center;
    }
    .pg-product-code {
        display: block;
        text-align: center;
    }
    .pg-product-labels {
        padding: 15px 10px;
    }
    .pg-product-specs span {
        font-size: 11px;
        padding: 0 0 0 28px;
    }
    .pg-product-specs > div > div {
        padding: 5px 10px;
    }
    .pg-product-bottom > div:nth-child(1) {display: none;}
    .products-grid-pagination-prev,
    .products-grid-pagination-next {
        display: table;
        float: none;
        margin: 10px auto;
    }
    .products-pagination-info {
        text-align: center;
    }
    .products-pagination-pages {
        display: block;
        text-align: center;
    }
    .footer-bottom {
        position: relative;
    }
    .footer-logo {
        float: none;
        margin-right: 90px;
        width: auto;
    }
    .footer-contacts, .footer-social span {display: none;}
    .footer-social {
        position: absolute;
        float: none;
        width: auto;
        right: 0;
        top: 57px;
        margin: 0;
    }
    .footer-social-icons a {margin: 0 0 0 10px;}
    .footer-last {
        display: block;
        text-align: center;
        border-top: 1px solid #f1f2f3;
        margin-top: 20px;
    }
    .footer-copy {
        padding: 20px 0;
    }
    .footer-madeby {
        float: none;
        width: 100%;
        text-align: center;
        padding-top: 5px;
    }
    .footer-top > div {
        float: none !important;
        width: auto !important;
        margin: 0 0 20px 0 !important;
    }
    .footer-top {padding-bottom: 0;}
    .products-pagination {margin: 0 10px;}
    .breadcrumbs {text-align: center;}
    .page-header {}
    .page-heading {
        display: block;
        text-align: center;
    }
    .page-header-right {
        position: static;
        text-align: center;
        margin: 10px 0 5px;
    }
    .content .wrap {padding: 20px 10px 0;}
    .product-left {
        float: none;
        width: 100%;
        padding: 0;
    }
    .product-images {display: none;}
    .product-mobile-slider {}
    .product-right {
        float: none;
        width: 100%;
        padding: 0;
    }
    .product-card-form {padding: 20px 10px;}
    .product-car-form-phone {
        padding: 0 !important;
        float: none !important;
        margin: 0 auto 10px !important;
        clear: both;
        display: block !important;
    }
    .product-card-specs {
        display: block;
        padding: 20px 0;
    }
    .product-card-specs > div {display: block;}
    .product-card-specs > div > div {
        display: block;
        width: 100%;
        padding: 0 20px !important;
    }
    .product-card-specs span {line-height: 20px;}
    .product-card-funcs > div:first-child {/*display: none;*/ width:36px;}
    .product-card-funcs {padding: 15px 10px;}
    .product-card-footer {padding: 15px 20px;}
    .product-question-form label {text-align: center;}
    .product-question-submit {margin: 0 auto;}
    .product-card-specs > div > div:first-child {border: 0;}
    .contacts-top {margin: 0;}
    .contacts-block {
        float: none;
        padding: 0;
        margin: 0 auto 20px;
    }
    .pg-product-isfav > span { display: none; }
    .pg-product-removefav span,
    .pg-product-addfav span {
	line-height: 14px;
    }
    .contacts-bottom {margin-right: 0;}
    .contacts-bottom > div {
        float: none;
        width: auto;
        padding: 0;
        margin: 0 0 20px;
        height: auto;
    }
    .contacts-form-2col > div {
        float: none;
        width: auto;
        padding: 0;
    }
    .contacts-form-2col {margin: 0;}
    .contacts-form-wrap {height: auto;}
    .contacts-form {height: auto;}
    .content-left {
        float: none;
        width: auto;
        padding: 0;
    }
    .content-article img {
        display: block !important;
        margin: 0 auto 15px !important;
        float: none !important;
        max-width: 100% !important;
        height: auto !important;
    }
    .content-right {
        float: none;
        margin: 0 auto 20px;
    }
    .news-block-content > span {
        float: none !important;
        width: auto !important;
        height: auto !important;
        display: block;
    }
    .news-block-content > span:last-child {padding: 0 10px !important;}
    .news-block-header {text-align: center;}
    .news-block-date {display: table; margin: 0 auto;}
    .news-block-btn {
        left: 50%;
        margin-left: -31px;
    }
    .news-block img {margin: 0 auto;}
    .product-car-form-fields {text-align: center;}
    .product-car-form-fields > div {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .filters-result {display: none !important;}
    .product-car-form-fields > div:last-child {
        padding-bottom: 10px;
        width: auto;
        padding-left: 10px;
    }

    .cookieText {
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 25px 10px 20px;
	border-radius: 0;
    }

    .review-container, .content-bottom {
	display: none;
    }

    .rules-container {
	border: none;
	border-radius: 0;
	padding: 2px 5px;
	margin: 5px 0;
	height: 200px;
	overflow-y: scroll;
    }

    .blink-fav {
	opacity: 1;
	animation: blinkfav 2s linear infinite;
    }

    .cookie-buttons {
	display: block;
	text-align: center;
    }
    .cookie-accept {
	display: block;
	text-align: center;
    }

    .subscribeForm {
	display: none;
    }

}


@media only screen and (min-width: 480px) {}

@media only screen and (max-width: 1140px) {
    .subscribeContainer {
	border: none;
	border-radius: 0;
	padding: 2px 5px;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
    }
    .subscribeContainer .rules-container {
	top: 170px;
	bottom: 5px;
	left: 5px;
	right: 5px;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.message-success {
    color: #007F0E;
    text-align: center;
    margin: 0 0 5px;
    font-weight: bold;
}
.message-error {
    color: #E43333;
    text-align: center;
    margin: 0 0 5px;
    font-weight: bold;
}

.message-not-found {
    color: #E43333;
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}
